<!DOCTYPE html>
<html>
<head>
	<title>API list</title>
</head>
<body>
Available Requests to Server
<ul>
	<li>GET /</li>
	<li>GET /api</li>
	<li>GET /api/userlist</li>
	<li>GET /api/contactlist</li>
	<li>GET /api/facebooklist</li>
	<li>GET /api/gallerylist</li>
	<li>GET /api/:email</li>
	<li>GET /api/:email/contact</li>
	<li>GET /api/:email/facebook</li>
	<li>GET /api/:email/gallery</li>
	<li>POST /api/adduser</li>
	<li>PUT /api/:email/addcontact</li>
	<li>PUT /api/:email/addfacebook</li>
	<li>POST /api/:email/addimage</li>
	<li>GET /images/*</li>
	<li>GET /api/cafelist</li>
</ul>
</body>
</html>
